<div>
	Highscore: {{this.highScore}}
</div>
<nav>
	<ul class='nav nav-pills nav-stacked col-xs-3'>
		{{#each}}
			{{#link-to 'game' this.id tagName="li"}}<a {{bind-attr href="view.href"}}>{{name}}</a>{{/link-to}}
		{{/each}}
		<li><button class='btn btn-default'{{action 'newGame'}}>New Game</button></li>
	</ul>
</nav>


{{outlet}}
