<section id="list-games">
	{{#each game in this}}
		<article class="row">
			<div class="col-md-3">Name: {{game.name}}</div>
			<div class="col-md-3">Score: {{game.score}}</div>
			<div class="col-md-3">Level: {{game.level}}</div>
			<div class="col-md-3">
				<button class="btn btn-danger" {{action 'deleteGame' game}}>Delete</button>
				<button class="btn btn-success" {{action 'loadGame' game}}>Play!</button>
			</div>
		</article>
	{{/each}}
	<button class="btn btn-default" {{action 'newGame'}}>New Game</button>
</section>
