<div class="killer col-md-4">
  <h2>{{model.name}}</h2>
  <div class="name">Level: {{model.number}}</div>
  <div class="cost">Cost: {{model.cost}} pts</div>
  <div class="buy"><button class="btn btn-success" {{action 'buyOne' model}}>Buy</button>
  <section>
    <h3>Kill Zone</h3>
    {{#each enemy in model.enemies}}
      <div>{{enemy.name}}</div>
      <div>HP: {{enemy.currentHp}}</div>
      <div>Killed: {{enemy.killed}}</div>
    {{/each}}
  </section>
</div>
