<div class="killer col-xs-4">
  <h2>{{model.name}} - DPS: {{model.number}}</h2>
  <button {{bind-attr class=":btn :btn-success canBuy:enabled:disabled"}} {{action 'buyOne'}}>
    Upgrade DPS<br />
    Cost: {{to-exponential model.cost}} pts
  </button>
  <section>
    <h3>Enemies</h3>
    {{#each enemy in model.enemies}}

        <div>{{#link-to 'enemy' enemy.id}}{{enemy.name}}{{/link-to}}</div>
        <div>HP: {{to-exponential enemy.currentHp}}</div>
        <div>Killed: {{to-exponential enemy.killed}}</div>
    {{/each}}
  </section>
</div>
